body {
  font-family: Arial, sans-serif;
  color: #222;
}

header {
  background: #fff;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main {
    gap: 16px;
    padding: 16px;
}

.main-nav {
  padding: 16px;
}

.main-nav ul {
  display: none
}

#hamburger {
  font-size: 54px;
  cursor: pointer;
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-field {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

#error {
  color: red;
  font-size: 0.9em;
}

#submit-btn {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#modal-content {
  background: white;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  border-radius: 8px;
}

#modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}



@media (min-width: 768px) {
  .form-field {
    flex: 1 1 45%;
  }

  #submit-btn {
    justify-content: center;
  }

  #hamburger {
    display: none;
  }

  .main-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 16px;
  }

}


.hidden {
  display: none !important;
}